<headder>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Book-system</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/author">Author</a></li>
        <li><a href="/author/new">ADD Author</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/books/new">Create Books</a></li>
      </ul>
    </div>
  </nav>
</headder>
